@import '../../../variables.scss';
.optionCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
        font-size: 16px;
        font-weight: 500;
        margin-top: 8px;
    }
}

@media (max-width: $break-point-two){
    .optionCard{
        img{
            width: 150px;
            height: 115px;
        }
    }
}