@import '../../variables.scss';

.navbar{
    background-color: $color-primary;
    height: 42px;
    padding-left: 10px;
    padding-right: 10px;

    .navbar__container{
        height: 42px;
        margin: 0 auto;
        max-width: 1000px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navbar__left{
            width: 100%;
            flex: 0.7;
            display: flex;
            align-items: center;
            // justify-content: space-around;
            .navbar__left__logo{
                height: 35px;
                width: 36px;
                cursor: pointer;
            }
            a{
                margin-left: 30px;
                margin-top: -3px;
                color: $text-color;
                text-decoration: none;
                font-weight: bold;
            }
            p{
                margin-left: 25px;
                margin-top: -3px;
                color: $text-color;
                text-decoration: none;
                font-weight: bold;
                display: flex;
                align-items: center;

                span{
                    margin-top: 7px;
                }
            }
            .navbar__left__hamburger{
                display: none;
            }
        }

        .navbar__center{

            .navbar__center__image{
                display: none;
            }
        }

        .navbar__right{
            width: 100%;
            flex: 0.3;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-right: 5px;
            .navbar__right__cart{
                color: $text-color !important;
                font-size: 20px;
                margin-right: 30px;
            }
            a{
                margin-right: 30px;
                margin-top: -3px;
                color: $text-color;
                text-decoration: none;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: $break-point-one) {
    .navbar__left{
        .navbar__left__hamburger{
            display:block !important;
            color: $text-color;
        }
        .navbar__left__logo,a{
            display: none;
        }
        p{
            display: none !important;
            
            span{
                display: none;
            }
        }
    }
    .navbar__center{ 
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .navbar__center__image{
            display: block !important;
            width: 81;
            height: 80px;
        }
    }
    .navbar__right{
        a{
            display: none;
        }
        .navbar__right__cart{
            font-size: 28px !important;
        }
    }
}
/* Large devices (desktops, 992px and up) */
// @media (min-width: 992px) {}
// /* Extra large devices (large desktops, 1200px and up) */
// @media (min-width: 1200px) {}