.navbar{
    background-color: #4e2817;
    height: 42px;
    padding-left: 10px;
    padding-right: 10px;

    .navbar__container{
        height: 42px;
        margin: 0 auto;
        max-width: 1000px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navbar__left{
            width: 100%;
            flex: 0.7;
            display: flex;
            align-items: center;
            // justify-content: space-around;
            .navbar__left__logo{
                height: 35px;
                width: 36px;
            }
            a{
                margin-left: 30px;
                margin-top: -3px;
                color: white;
                text-decoration: none;
                font-weight: bold;
            }
            p{
                margin-left: 25px;
                margin-top: -3px;
                color: white;
                text-decoration: none;
                font-weight: bold;
                display: flex;
                align-items: center;

                span{
                    margin-top: 7px;
                }
            }
        }

        .navbar__right{
            width: 100%;
            flex: 0.3;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-right: 5px;
            .navbar__right__cart{
                color: white !important;
                font-size: 20px;
            }
            a{
                margin-left: 30px;
                margin-top: -3px;
                color: white;
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
}