
$text-color:#fff;
$color-primary:#4e2817;
$color-secondary:#f97805;
$font-primary:"Montserrat","sans-serif";
$footer-options:#2b71b8;
$footer-icons:#b8b7b7;
$max-width:1000px;
$color-black:#000000;

$background-color-one :#f3f3f3;

$break-point-one:1000px;
$break-point-two:800px;
$break-point-three:600px;
$break-point-four:450px;